body{
    background: linear-gradient(90deg, rgba(255,169,226,1) 0%, rgba(167,109,155,1) 44%, rgba(195,69,189,1) 100%);
    background-size: 100%;
    
}

@font-face{
    font-family: 'custom';
    src: url('fonts/KrabbyPatty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'custom1';
    src: url('fonts/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#chatbox{
    display: flex;
    flex-direction: column;      /* Stack items vertically */
    justify-content: center;      /* Center items vertically */
    align-items: center;  
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%) scale(1.3);
    background-color: #10100f;
}

#chat::before{
    content: '';
    position: absolute;
    
    width: 480px;
    height: 440px;
    background-position: center;
    opacity: 0.2;
    background-image: url('./images/chatbg.jpeg');
    border-radius: 15px;
    background-size: cover;
}

#chat{
    background-color: lightpink;
    height: 450px;
    width: 475px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
   /* Stack items vertically */    
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 14px;
    border: 2px solid pink;
    margin-top: 10px;
    flex-grow: 1;

}



.chatwrap {
    overflow-y: auto; /* Allow scrolling */
    width: 100%; /* Make sure it takes the full width */
    height: 440px;
    flex-grow: 1;
}

#chat::-webkit-scrollbar-track{
    background: transparent;
}

#userinput{
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    font-family: 'custom1';

}

#sendButton{
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 80px;
    background-color: purple;
    font-family: 'custom1';
    font-size: 16px;
}

#chatbar{
    margin-top: 10px;
    
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg)}
}


#flower1{
    position: absolute;
    top: 0%;
    left: -10%;
    scale: 0.5;
    opacity: 0.2;
    -webkit-animation: spin 100s linear infinite;
}

#flower2{
    scale: 0.5;
    opacity: 0.3;
    position: absolute;
    top: -10%;
    left: 60%;
    filter: hue-rotate(90deg);
    -webkit-animation: spin 90s linear infinite;
}

#flower3{
    scale: 0.4;
    opacity: 0.3;
    position: absolute;
    top: 40%;
    left: 50%;
    filter: hue-rotate(40deg);
    -webkit-animation: spin 70s linear infinite;
}

#flower4{
    scale: 0.4;
    opacity: 0.3;
    position: absolute;
    top: 40%;
    left: -5%;
    filter: hue-rotate(140deg);
    -webkit-animation: spin 40s linear infinite;
}

#chat p{
    
    font-family: 'custom1', sans-serif;
    font-weight: bold;
    width: 100%;
    flex-shrink: 0;
}

#input{
    position: absolute;
    bottom: 10px;
}

.conchReply{
    animation: typing 4s;
    white-space: nowrap;
    width: 100%;
    flex-shrink: 0;
}

.conchReply::before{
    opacity: 100%;
    font-weight: bold;
    font-size: 20px;
    content: 'magic conch: ';
    background: linear-gradient(90deg, rgba(69,174,195,1) 11%, rgba(190,43,140,1) 47%, rgba(167,109,155,1) 70%, rgba(109,167,114,1) 90%, rgba(167,109,155,1) 100%);
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 0.5s linear infinite;
}

@keyframes typing{
    from {width: 0;}
    to{width: 100%;}
}



#title{
    font-family: 'custom';
    position: absolute;
    top: -12%;
    text-shadow: 
        -1px -1px 0px white,       /* Top left */
         1px -1px 0px white,       /* Top right */
        -1px  1px 0px white,       /* Bottom left */
         1px  1px 0px white; 
}

@keyframes gradientAnimation{
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.myReply::before{
    content: 'you: ';
    color: black;
}



#conch{
    position: absolute;
    left: 27%;
    top: 0%;
    scale: 0.5;
}